body{
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main{
    backdrop-filter: blur(10px) brightness(200%);
    border: 5px solid black;
    border-radius: 10px;
    width: 500px;
    margin:auto;
    margin-top: 150px;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    display: flex;
    gap: 30px;
}

.inp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d1cbcb;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

#inputbox{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-weight: 14px;
    font-size: 17px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    background-color: orangered;
    color: white;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url("uncheck.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    content: '';
    background-image: url("check.png");
}

ul li cross{
    position: absolute;
    right: 25px;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li cross:hover{
    background: #edeef0
}

#todo{
    max-width: 70px;
    margin-left: 60px;
}